<form
  class="form"
  [formGroup]="videoForm"
  *ngIf="formMode"
>
  <div class="form-control">
    <label for="name" class="form-label">Name</label>
    <input
      type="text"
      name="name"
      class="input"
      placeholder="name"
      formControlName="name"
    >
    <p class="required" *ngIf="get('name').invalid && get('name').touched">
      <ng-container *ngFor="let errorMessage of errors('name')">
        <span *ngIf="errorMessage !== true">{{ errorMessage }}</span>
      </ng-container>
    </p>
  </div>

  <div class="form-control">
    <label for="videoURL" class="form-label">Video URL</label>
    <input
      type="text"
      name="videoURL"
      class="input"
      placeholder="videoURL"
      formControlName="videoURL"
    >
    <p class="required" *ngIf="get('videoURL').invalid && get('videoURL').touched">
      <ng-container *ngFor="let errorMessage of errors('videoURL')">
        <span *ngIf="errorMessage !== true">{{ errorMessage }}</span>
      </ng-container>
    </p>
  </div>

  <button
    type="button"
    class="button update"
    (click)="onAddVideo()"
  >Add Video</button>
</form>

<div *ngIf="formMode; else plus">
  <div class="form">
    <button
      (click)="formMode = false"
      class="button delete"
    >Work end</button>
  </div>
</div>

<ng-template #plus>
  <app-plus
    class="plus-btn"
    (click)="onGetVideoForm()"
  ></app-plus>
</ng-template>

<ng-container *ngFor="let video of videoItems">
  <app-video-item [video]="video" (deleteVideoClicked)="onDeleteVideo($event)"></app-video-item>
</ng-container>
