<form
  class="form"
  [formGroup]="videoForm"
  *ngIf="formMode"
>
  <div class="form-control">
    <label for="Name" class="form-label">Name</label>
    <input
      type="text"
      name="Name"
      class="input"
      placeholder="Name"
      formControlName="Name"
    >
    <p class="required" *ngIf="get('Name').invalid && get('Name').touched">
      <ng-container *ngFor="let errorMessage of errors('Name')">
        <span *ngIf="errorMessage !== true">{{ errorMessage }}</span>
      </ng-container>
    </p>
  </div>

  <div class="form-control">
    <label for="VideoURL" class="form-label">Video URL</label>
    <input
      type="text"
      name="VideoURL"
      class="input"
      placeholder="VideoURL"
      formControlName="VideoURL"
    >
    <p class="required" *ngIf="get('VideoURL').invalid && get('VideoURL').touched">
      <ng-container *ngFor="let errorMessage of errors('VideoURL')">
        <span *ngIf="errorMessage !== true">{{ errorMessage }}</span>
      </ng-container>
    </p>
  </div>

  <button
    type="button"
    class="button update"
    (click)="onAddVideo()"
  >Add Video</button>
  <p class="required">
    <span *ngIf="videoPanelError">{{ videoPanelError }}</span>
  </p>
</form>

<div *ngIf="formMode; else plus">
  <div class="form">
    <button
      (click)="formMode = false"
      class="button delete"
    >Work end</button>
  </div>
</div>

<ng-template #plus>
  <div class="plus-btn">
    <h3>Add Video</h3>
    <app-plus
      (click)="onGetVideoForm()"
    ></app-plus>
  </div>
</ng-template>

<ng-container *ngFor="let video of videoItems">
  <app-video-item [video]="video" (deleteVideoClicked)="onDeleteVideo($event)"></app-video-item>
</ng-container>
