:host {
  width: 100%;
}

.album-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;

  &:hover {
    background-color: rgb(0 0 0 / 50%);
  }
}

.album-item-content {
  padding: 5px 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &:hover {
    background-color: rgb(0 0 0 / 30%);
  }
}

.plus-btn {
  h3 {
    padding: 0 20px;
  }
}
