<div class="album-item">
  <h3 class="center pointer" (click)="open()">{{ albumItem.name }}</h3>
  <button (click)="onDeleteAlbumItem()" class="delete button">delete albumItem</button>
</div>

<div *ngIf="isOpen" class="album-item-content">
  <ng-container *ngFor="let albumItemPhoto of albumItem.albumPhotos">
    <app-album-photo
      [albumPhoto]="albumItemPhoto"
      (deleteAlbumPhotoClicked)="onDeleteAlbumPhoto($event)"
    ></app-album-photo>
  </ng-container>

  <div class="plus" *ngIf="!formMode">
    <div class="plus-btn">
      <h3>Add Album Photo</h3>
      <app-plus
        (click)="onGetForm()"
      ></app-plus>
    </div>
  </div>

  <form
    *ngIf="formMode"
    class="form"
    [formGroup]="form"
    (ngSubmit)="onAddAlbumPhoto()"
  >
    <div class="form-control visible">
      <label for="Name" class="form-label">Photo name</label>
      <input
        type="text"
        name="Name"
        value="photo"
        class="input"
        placeholder="Photo name"
        formControlName="Name"
      >
      <p class="required" *ngIf="get('Name').invalid && get('Name').touched">
        <ng-container *ngFor="let errorMessage of errors('Name')">
          <span *ngIf="errorMessage !== true">{{ errorMessage }}</span>
        </ng-container>
      </p>
    </div>
    <!-- Image -->
    <div class="form-control form-control--file">
      <button type="button" class="file-btn btn button"  (click)="filePicker.click()">
        Pick Image
      </button>
      <input
        type="file"
        name="files"
        #filePicker
        (change)="onImagePicked($event)"
      />
      <p class="required" *ngIf="get('files').invalid && get('files').touched">
        <ng-container *ngFor="let errorMessage of errors('files')">
          <span *ngIf="errorMessage !== true">{{ errorMessage }}</span>
        </ng-container>
      </p>
    </div>
    <div
      class="image-preview form-control form-control--file"
      *ngIf="imagePreview !== '' && imagePreview && form.get('files').valid"
    >
      <img [src]="imagePreview" [alt]="albumItem.name" />
    </div>

    <!-- disabled input -->
    <div class="form-control visible">
      <label for="AlbumItemId" class="form-label">Album item id</label>
      <input
        type="text"
        name="AlbumItemId"
        class="input"
        placeholder="Album item id"
        formControlName="AlbumItemId"
      >
      <p class="required" *ngIf="get('AlbumItemId').invalid && get('AlbumItemId').touched">
        <ng-container *ngFor="let errorMessage of errors('AlbumItemId')">
          <span *ngIf="errorMessage !== true">{{ errorMessage }}</span>
        </ng-container>
      </p>
    </div>

    <button
      type="submit"
      class="button update"
    >Add Photo</button>
    <p class="required">
      <span *ngIf="albumPanelError">{{ albumPanelError }}</span>
    </p>

    <div *ngIf="formMode">
        <button
          (click)="formMode = false"
          class="button delete"
        >Work end</button>
    </div>

  </form>
</div>
