<div class="album-item" (click)="open()">
  <h3 class="center">{{ albumItem.name }}</h3>
  <button (click)="onDeleteAlbumItem(albumItem.id)" class="delete button">delete albumItem</button>
</div>

<div *ngIf="isOpen" class="album-item-content">
  <ng-container *ngFor="let albumItemPhoto of [
    {
      name: 'test',
      photoName: 'File[]',
      albumItemId: 'test',
      createDate: 'string',
      updateDate: 'string'
    },
    {
      name: 'test',
      photoName: 'File[]',
      albumItemId: 'test',
      createDate: 'string',
      updateDate: 'string'
    }
  ]"> <!-- albumItem.albumPhotos -->
    <app-album-photo
      [albumPhoto]="albumItemPhoto"
    ></app-album-photo>
  </ng-container>

  <div class="plus" *ngIf="!formMode">
    <div class="plus-btn">
      <h3>Add Album Photo</h3>
      <app-plus
        (click)="onGetForm()"
      ></app-plus>
    </div>
  </div>

  <form
    *ngIf="formMode"
    class="form"
    [formGroup]="form"
    (ngSubmit)="onAdd()"
  >
    <div class="form-control">
      <label for="Name" class="form-label">Album photo name</label>
      <input
        type="text"
        name="Name"
        class="input"
        placeholder="Album photo name"
        formControlName="Name"
      >
      <p class="required" *ngIf="get('Name').invalid && get('Name').touched">
        <ng-container *ngFor="let errorMessage of errors('Name')">
          <span *ngIf="errorMessage !== true">{{ errorMessage }}</span>
        </ng-container>
      </p>
    </div>

    <div class="form-control">
      <label for="image" class="form-label">image</label>
      <img class="panel-img" [src]="selectedFile?.src" *ngIf="selectedFile?.src !== null && selectedFile?.src">
      <input
        #imageInput
        type="file"
        class="input"
        name="files"
        formControlName="files"
        placeholder="Album item image"
        (change)="processFile(imageInput)"
      >
      <p class="required" *ngIf="get('files').invalid && get('files').touched">
        <ng-container *ngFor="let errorMessage of errors('files')">
          <span *ngIf="errorMessage !== true">{{ errorMessage }}</span>
        </ng-container>
      </p>
    </div>

    <!-- disabled input -->
    <div class="form-control visible">
      <label for="AlbumItemId" class="form-label">Album item id</label>
      <input
        type="text"
        name="AlbumItemId"
        class="input"
        placeholder="Album photo name"
        formControlName="AlbumItemId"
      >
      <p class="required" *ngIf="get('AlbumItemId').invalid && get('AlbumItemId').touched">
        <ng-container *ngFor="let errorMessage of errors('AlbumItemId')">
          <span *ngIf="errorMessage !== true">{{ errorMessage }}</span>
        </ng-container>
      </p>
    </div>

    <button
      type="submit"
      class="button update"
    >Add Album Photo</button>

    <div *ngIf="formMode">
      <div class="form">
        <button
          (click)="formMode = false"
          class="button delete"
        >Work end</button>
      </div>
    </div>

  </form>
</div>
