<div class="album-item">
  <h3 class="center pointer" (click)="open()">{{ albumItem.name }}</h3>
  <button (click)="onDeleteAlbumItem()" class="delete button">delete album Item</button>
</div>

<div *ngIf="isOpen" class="album-item-content">
  <ng-container *ngFor="let albumItemPhoto of albumItem.albumPhotos">
    <app-album-photo
      [albumPhoto]="albumItemPhoto"
      (deleteAlbumPhotoClicked)="onDeleteAlbumPhoto($event)"
    ></app-album-photo>
  </ng-container>

  <div class="plus" *ngIf="!dropMode">
    <div class="plus-btn">
      <h3>Add Photos</h3>
      <app-plus
        (click)="onGetForm()"
      ></app-plus>
    </div>
  </div>

  <!--dropped images -->
  <div
    *ngIf="
      !files.length &&
      dropMode
    "
    class="drop-zone"
    appDrag
    (files)="filesDropped($event)"
  >
    <div class="text-wrapper">
      <div class="centered">Drop your images here!</div>
    </div>
  </div>
  <!--dropped image preview-->
  <div *ngIf="dropMode" class="dropped-zone">
    <ng-container *ngFor="let file of files">
      <img *ngIf="file" [src]="file.url" width="100px" height="100px">
    </ng-container>
  </div>

  <div *ngIf="dropMode">
    <button
      (click)="dropMode = false"
      class="button delete"
    >Work end</button>
  </div>
</div>
