<form
  *ngIf="formMode"
  class="form"
  [formGroup]="articleForm"
  (ngSubmit)="onAddArticle()"
>
  <div class="form-control">
    <label for="DocType" class="form-label">Choose DocType</label>
    <select type="text" name="DocType" class="input" formControlName="DocType">
      <ng-container *ngFor="let DocType of DocTypes">
        <option [value]="DocType">{{ DocType }}</option>
      </ng-container>
    </select>
    <p class="required" *ngIf="get('DocType').invalid && get('DocType').touched">
      <ng-container *ngFor="let errorMessage of errors('DocType')">
        <span *ngIf="errorMessage !== true">{{ errorMessage }}</span>
      </ng-container>
    </p>
  </div>

  <div class="form-control">
    <label for="TitleGeo" class="form-label">TitleGeo</label>
    <input
      type="text"
      name="TitleGeo"
      class="input"
      placeholder="Article TitleGeo"
      formControlName="TitleGeo"
    >
    <p class="required" *ngIf="get('TitleGeo').invalid && get('TitleGeo').touched">
      <ng-container *ngFor="let errorMessage of errors('TitleGeo')">
        <span *ngIf="errorMessage !== true">{{ errorMessage }}</span>
      </ng-container>
    </p>
  </div>

  <div class="form-control">
    <label for="TextGeo" class="form-label">TextGeo content</label>
    <textarea
      type="text"
      name="TextGeo"
      class="input"
      placeholder="TextGeo content"
      formControlName="TextGeo"
    ></textarea>
    <p class="required" *ngIf="get('TextGeo').invalid && get('TextGeo').touched">
      <ng-container *ngFor="let errorMessage of errors('TextGeo')">
        <span *ngIf="errorMessage !== true">{{ errorMessage }}</span>
      </ng-container>
    </p>
  </div>


  <div class="form-control">
    <label for="TitleEng" class="form-label">TitleEng</label>
    <input
      type="text"
      class="input"
      name="TitleEng"
      placeholder="Publication TitleEng"
      formControlName="TitleEng"
    >
  </div>

  <div class="form-control">
    <label for="TextEng" class="form-label">TextEng content</label>
    <textarea
      type="text"
      class="input"
      name="TextEng"
      placeholder="TextEng content"
      formControlName="TextEng"
    ></textarea>
  </div>

  <div class="form-control">
    <label for="TitleRus" class="form-label">TitleRus</label>
    <input
      type="text"
      class="input"
      name="TitleRus"
      placeholder="Publication TitleRus"
      formControlName="TitleRus"
    >
  </div>

  <div class="form-control">
    <label for="TextRus" class="form-label">TextRus content</label>
    <textarea
      type="text"
      class="input"
      name="TextRus"
      placeholder="TextRus content"
      formControlName="TextRus"
    ></textarea>
  </div>

  <div class="form-control">
    <label for="image" class="form-label">image</label>
    <img class="panel-img" [src]="selectedFile?.src" *ngIf="selectedFile?.src !== null && selectedFile?.src">
    <input
      #imageInput
      type="file"
      class="input"
      name="files"
      formControlName="files"
      placeholder="Publication image"
      (change)="processFile(imageInput)"
    >
    <p class="required" *ngIf="get('files').invalid && get('files').touched">
      <ng-container *ngFor="let errorMessage of errors('files')">
        <span *ngIf="errorMessage !== true">{{ errorMessage }}</span>
      </ng-container>
    </p>
  </div>

  <button
    type="submit"
    class="button update"
  >Add Article</button>
  <p class="required">
    <span *ngIf="articlePanelError">{{ articlePanelError }}</span>
  </p>
</form>

<div *ngIf="formMode; else plus">
  <div class="form">
    <button
      (click)="formMode = false"
      class="button delete"
    >Work end</button>
  </div>
</div>

<ng-template #plus>
  <div class="plus-btn">
    <h3>Add Article</h3>
    <app-plus
      (click)="onGetArticleForm()"
    ></app-plus>
  </div>
</ng-template>

<div class="panel">
  <div class="panel_item">
    <h2>Eparchy Items</h2>
    <app-article-item
      *ngFor="let eparchyItem of eparchyItems"
      [articleItem]="eparchyItem"
      (deleteArticleItemClicked)="onDeleteArticleItem($event)"
      (updateArticleItemClicked)="onUpdateArticleItem($event)"
    ></app-article-item>
  </div>

  <div class="panel_item">
    <h2>Publications Items</h2>
    <app-article-item
      *ngFor="let publicationsItem of publicationsItems"
      [articleItem]="publicationsItem"
      (deleteArticleItemClicked)="onDeleteArticleItem($event)"
      (updateArticleItemClicked)="onUpdateArticleItem($event)"
    ></app-article-item>
  </div>

  <div class="panel_item">
    <h2>Icons Items</h2>
    <app-article-item
      *ngFor="let iconsItem of iconsItems"
      [articleItem]="iconsItem"
      (deleteArticleItemClicked)="onDeleteArticleItem($event)"
      (updateArticleItemClicked)="onUpdateArticleItem($event)"
    ></app-article-item>
  </div>
</div>


