@import '../../../scss/styles.scss';

.panel {
  @include flexPosition(space-around, flex-start);
  margin: 20px;
}

.panel_item {
  h2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.form .button {
  margin: 10px;
}
