@import '../../../scss/styles.scss';

.panel {
  @include flexPosition(space-around, flex-start);
  margin: 20px;
}

.form-control {
  width: 100%;
  align-items: center;
}

.panel_item {
  h2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.plus-btn {
  margin-top: 20px;
}

.form {
  margin: 10px;
}

.button {
  width: max-content;
  padding: 10px 20px;
  margin: 10px;
}
