<div class="form">
  <button
    *ngIf="isAdminMode"
    (click)="onLogout()"
    type="button"
    class="button"
  >Log Out</button>
</div>

<div class="panel" *ngIf="isAdminMode">
  <div
    class="panel__item"
    routerLink="articlePanel"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}"
  >Articles</div>

  <div
    class="panel__item"
    routerLink="chantsPanel"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}"
  >Chants</div>

  <div
    class="panel__item"
    routerLink="videoPanel"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}"
  >Videos</div>
</div>

<router-outlet *ngIf="isAdminMode"></router-outlet>

