<form
  *ngIf="formMode"
  class="form"
  [formGroup]="albumForm"
  (ngSubmit)="onAddAlbum()"
>
  <div class="form-control">
    <label for="Name" class="form-label">Album name</label>
    <input
      type="text"
      name="Name"
      class="input"
      placeholder="Album Name"
      formControlName="Name"
    >
    <p class="required" *ngIf="get('Name').invalid && get('Name').touched">
      <ng-container *ngFor="let errorMessage of errors('Name')">
        <span *ngIf="errorMessage !== true">{{ errorMessage }}</span>
      </ng-container>
    </p>
  </div>

  <div class="form-control">
    <label for="AlbumType" class="form-label">Choose Album type</label>
    <select type="text" name="AlbumType" class="input" formControlName="AlbumType">
      <ng-container *ngFor="let AlbumType of AlbumTypes">
        <option [value]="AlbumType">{{ AlbumType }}</option>
      </ng-container>
    </select>
    <p class="required" *ngIf="get('AlbumType').invalid && get('AlbumType').touched">
      <ng-container *ngFor="let errorMessage of errors('AlbumType')">
        <span *ngIf="errorMessage !== true">{{ errorMessage }}</span>
      </ng-container>
    </p>
  </div>

  <button
    type="submit"
    class="button update"
  >Add Album</button>
  <p class="required">
    <span *ngIf="albumPanelError">{{ albumPanelError }}</span>
  </p>
</form>

<div *ngIf="formMode; else plus">
  <div class="form">
    <button
      (click)="formMode = false"
      class="button delete"
    >Work end</button>
  </div>
</div>

<ng-template #plus>
  <div class="plus-btn">
    <h3>Add Album</h3>
    <app-plus
      (click)="onGetAlbumForm()"
    ></app-plus>
  </div>
</ng-template>


<div class="albums-content">
  <ng-container *ngFor="let album of albumsService.albumsUpdated | async">
    <app-album
      [album]="album"
      (addAlbumPhotoClicked)="onAddAlbumPhoto($event)"
      (addAlbumItemClicked)="onAddAlbumItem($event)"
      (deleteAlbumClicked)="onDeleteAlbum($event)"
      (deleteAlbumItemClicked)="onDeleteAlbumItem($event)"
      (deleteAlbumPhotoClicked)="onDeleteAlbumPhoto($event)"
    ></app-album>
  </ng-container>
  <!-- <ng-container *ngFor="let album of albums; let index = index; trackBy: trackElementBy">
    <app-album
      [album]="album"
      (addAlbumPhotoClicked)="onAddAlbumPhoto($event)"
      (addAlbumItemClicked)="onAddAlbumItem($event)"
      (deleteAlbumClicked)="onDeleteAlbum($event)"
      (deleteAlbumItemClicked)="onDeleteAlbumItem($event)"
      (deleteAlbumPhotoClicked)="onDeleteAlbumPhoto($event)"
    ></app-album>
  </ng-container> -->
</div>

