<form
  *ngIf="formMode"
  class="form"
  [formGroup]="albumForm"
  (ngSubmit)="onAddAlbum()"
>
  <div class="form-control">
    <label for="Name" class="form-label">Album</label>
    <input
      type="text"
      name="Name"
      class="input"
      placeholder="Album Name"
      formControlName="Name"
    >
  </div>

  <div class="form-control">
    <label for="AlbumType" class="form-label">Album type</label>
    <input
      type="number"
      name="AlbumType"
      class="input"
      placeholder="Album Type"
      formControlName="AlbumType"
    >
  </div>

  <button
    type="submit"
    class="button update"
  >Add Album</button>
</form>

<div *ngIf="formMode; else plus">
  <div class="form">
    <button
      (click)="formMode = false"
      class="button delete"
    >Work end</button>
  </div>
</div>

<ng-template #plus>
  <div class="plus-btn">
    <h3>Add Album</h3>
    <app-plus
      (click)="onGetAlbumForm()"
    ></app-plus>
  </div>
</ng-template>

<ng-container *ngFor="let album of albums">
  <app-album
    [album]="album"
  ></app-album>
</ng-container>
