<form [formGroup]="articleItemForm" class="form">
  <div class="form-control visible">
    <label for="ID" class="form-label">ID</label>
    <input class="input" name="ID" formControlName="id" type="number">
    <label for="docType" class="form-label">docType</label>
    <input class="input" name="docType" formControlName="docType">
  </div>

  <div class="form-control">
    <label for="TitleGeo" class="form-label">TitleGeo</label>
    <input
      type="text"
      name="TitleGeo"
      class="input"
      placeholder="Publication TitleGeo"
      formControlName="TitleGeo"
    >
    <p class="required" *ngIf="get('TitleGeo').invalid && get('TitleGeo').touched">
      <ng-container *ngFor="let errorMessage of errors('TitleGeo')">
        <span *ngIf="errorMessage !== true">{{ errorMessage }}</span>
      </ng-container>
    </p>
  </div>

  <div class="form-control">
    <label for="TextGeo" class="form-label">TextGeo content</label>
    <textarea
      type="text"
      name="TextGeo"
      class="input"
      placeholder="TextGeo content"
      formControlName="TextGeo"
    ></textarea>
    <p class="required" *ngIf="get('TextGeo').invalid && get('TextGeo').touched">
      <ng-container *ngFor="let errorMessage of errors('TextGeo')">
        <span *ngIf="errorMessage !== true">{{ errorMessage }}</span>
      </ng-container>
    </p>
  </div>


  <div class="form-control">
    <label for="TitleEng" class="form-label">TitleEng</label>
    <input
      type="text"
      class="input"
      name="TitleEng"
      placeholder="Publication TitleEng"
      formControlName="TitleEng"
    >
  </div>

  <div class="form-control">
    <label for="TextEng" class="form-label">TextEng content</label>
    <textarea
      type="text"
      class="input"
      name="TextEng"
      placeholder="TextEng content"
      formControlName="TextEng"
    ></textarea>
  </div>

  <div class="form-control">
    <label for="TitleRus" class="form-label">TitleRus</label>
    <input
      type="text"
      class="input"
      name="TitleRus"
      placeholder="Publication TitleRus"
      formControlName="TitleRus"
    >
  </div>

  <div class="form-control">
    <label for="TextRus" class="form-label">TextRus content</label>
    <textarea
      type="text"
      class="input"
      name="TextRus"
      placeholder="TextRus content"
      formControlName="TextRus"
    ></textarea>
  </div>

  <!-- Image -->
  <div class="form-control form-control--file">
    <button type="button" class="file-btn btn button"  (click)="filePicker.click()">
      Pick Image
    </button>
    <input
      type="file"
      name="files"
      #filePicker
      (change)="onImagePicked($event)"
    />
    <p class="required" *ngIf="get('files').invalid && get('files').touched">
      <ng-container *ngFor="let errorMessage of errors('files')">
        <span *ngIf="errorMessage !== true">{{ errorMessage }}</span>
      </ng-container>
    </p>
  </div>
  <div
    class="image-preview form-control form-control--file"
    *ngIf="imagePreview !== '' && imagePreview && articleItemForm.get('files').valid"
  >
    <img [src]="imagePreview" [alt]="articleItemForm.value.TitleGeo" />
  </div>
  <div
    class="image-preview form-control form-control--file"
    *ngIf="
      !(imagePreview !== '' && imagePreview && articleItemForm.get('files').valid) &&
      articleItem?.photoUrl
    "
  >
    <img class="panel-img" [src]="BASE_URL+articleItem?.photoUrl" [alt]="articleItem.title" />
  </div>

  <div class="form-control">
    <button
      type="submit"
      class="button update"
      (click)="onUpdateArticleItem()"
    >Update</button>
  </div>

  <div class="form-control">
    <button
      type="submit"
      class="button delete"
      (click)="onDeleteArticleItem(+articleItem.id)"
    >Delete</button>
  </div>
</form>
