.form {
  transition: background-color 0.3s;

  &:hover {
    background-color: black;
  }
}

input[type="file"] {
  visibility: hidden;
}

.image-preview {
  width: 100%;
  margin: 0 10px;
}

.image-preview img {
  height: 300px;
  width: 300px;
}

.panel-img {
  // box-shadow: 3px 2px 2px 0px rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.3);
  width: 250px;
  height: 250px;
  background-size: cover;
  filter: blur(3px); /* blur the lowers image */
}

.panel-img.is-loaded {
  filter: none; /* remove the blur on fullers image */
  transition: filter 1s;
}

.form-control {
  width: 100%;
  align-items: center;

  &--file {
    margin: 0 20px;
    justify-content: flex-start;
    align-items: center;
  }
}

.file-btn {
  color: #fff;
  background-color: rgba(79, 79, 79, 1);
  padding: 5px;
  cursor: pointer;
  margin: 0;
}

.error {
  min-height: 20px;
  max-height: 40px;
  width: 100%;
  margin: auto;
}

.button {
  width: 50%;
}
