<div class="navigation">
  <div class="navigation__content">
    <div
      *ngIf="isAuth"
      class="navigation__item"
      routerLink="admin/articlePanel"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}"
    >Articles</div>

    <div
      *ngIf="isAuth"
      class="navigation__item"
      routerLink="admin/chantsPanel"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}"
    >Chants</div>

    <div
      *ngIf="isAuth"
      class="navigation__item"
      routerLink="admin/videoPanel"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}"
    >Videos</div>

    <div
      *ngIf="isAuth"
      class="navigation__item"
      routerLink="admin/albumsPanel"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}"
    >Albums</div>
  </div>

  <div *ngIf="isAuth" class="form form--logout">
    <button
      (click)="onLogout()"
      type="button"
      class="button"
    >Log Out</button>
  </div>
</div>

