* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background-color: #181c21;
  overflow-x: auto;
  font-size: 16px;
  font: normal normal normal 0.75rem/1.33333 "Arial", sans-serif;
  color: #fff;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

@mixin flexPosition($justCont: center, $alignIte: center) {
  display: flex;
  justify-content: $justCont;
  align-items: $alignIte;
}


@mixin response($breakpoint) {
  @if($breakpoint == xxl){
    @media(max-width: 1600px) {
      @content;
    }
  }

  @if($breakpoint == xl){
    @media(max-width: 1200px) {
      @content;
    }
  }

  @if($breakpoint == lg){
    @media(max-width: 991px) {
      @content;
    }
  }

  @if($breakpoint == md){
    @media(max-width: 760px) {
      @content;
    }
  }

  @if($breakpoint == sm){
    @media(max-width: 560px) {
      @content;
    }
  }
}


$colors: (
  primary: #333,
  secondary: #181c21,
  tertiary: #f2f0f1,
  quaternary: #f5b149
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

$font-sizes: (
  xl: 2.5rem,
  lg: 2rem,
  md: 1.8rem,
  sm: 1.6rem,
  xs: 1rem,
  xxs: 0.8rem
);

@function size($size) {
  @return map-get($font-sizes, $size)
};


.plus-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.panel-img {
  height: 100px;
}

.form {
  @include flexPosition;
  flex-direction: column;
  border-bottom:  1px solid red;
  padding: 5px;
  margin: 5px;

  .ng-pristine.ng-invalid.ng-touched {
    border: 1px solid red;
  }
}

.form-control {
  @include flexPosition(center, flex-start);
  flex-direction: column;
  margin: 10px;
}

.required {
  color: red;
}

.form-label {
  font-size: size(xs);
}

.input {
  width: 300px;
  border-radius: 5px;
  margin: 5px 0;
  padding: 5px;
  font-size: size(xxs);
}

input:disabled {
  background-color: gray;
  color: white;
}

.button {
  border-radius: 5px;
  padding: 5px;
  margin: 5px 0;
  cursor: pointer;
}

.delete {
  color: #ddd;
  background-color: rgba(221, 19, 19, 0.864);
}

.update {
  color: #ddd;
  background-color: rgb(37, 177, 37);
}

.visible {
  visibility: hidden;
  display: none;
}

.center {
  @include flexPosition(center, center);
}

.pointer {
  cursor: pointer;
}
