
<div class="album" (click)="open()">
  <h2 class="center">{{ album.name }}</h2>
  <button (click)="onDelete(album.id)" class="delete button">delete album</button>
</div>

<div *ngIf="isOpen" class="album-items-content">
  <ng-container *ngFor="let albumItem of album.albumItems">
    <app-album-item
      [albumItem]="albumItem"
    ></app-album-item>
  </ng-container>

  <ng-template #plus>
    <div class="plus">
      <div class="plus-btn">
        <h3>Add Album Item</h3>
        <app-plus
          (click)="onGetForm()"
        ></app-plus>
      </div>
    </div>
  </ng-template>

  <form
    *ngIf="formMode"
    class="form"
    [formGroup]="form"
    (ngSubmit)="onAdd()"
  >
    <div class="form-control">
      <label for="Name" class="form-label">Album Item name</label>
      <input
        type="text"
        name="Name"
        class="input"
        placeholder="Album Item Name"
        formControlName="Name"
      >
      <p class="required" *ngIf="get('Name').invalid && get('Name').touched">
        <ng-container *ngFor="let errorMessage of errors('Name')">
          <span *ngIf="errorMessage !== true">{{ errorMessage }}</span>
        </ng-container>
      </p>
    </div>

    <button
      type="submit"
      class="button update"
    >Add Album Item</button>
  </form>

  <div *ngIf="formMode; else plus">
    <div class="form">
      <button
        (click)="formMode = false"
        class="button delete"
      >Work end</button>
    </div>
  </div>
</div>
