
<div class="album">
  <h2 class="center pointer" (click)="open()">{{ album.name }}</h2>
  <button (click)="onDeleteAlbum()" class="delete button">delete album</button>
</div>

<div *ngIf="isOpen" class="album-items-content">
  <ng-container *ngFor="let albumItem of album.albumItems">
    <app-album-item
      [albumItem]="albumItem"
      (addAlbumPhotoClicked)="onAddAlbumPhoto($event)"
      (deleteAlbumItemClicked)="onDeleteAlbumItem($event)"
      (deleteAlbumPhotoClicked)="onDeleteAlbumPhoto($event)"
    ></app-album-item>
  </ng-container>

  <ng-template #plus>
    <div class="plus">
      <div class="plus-btn">
        <h3>Add Item</h3>
        <app-plus
          (click)="onGetForm()"
        ></app-plus>
      </div>
    </div>
  </ng-template>

  <form
    *ngIf="formMode"
    class="form"
    [formGroup]="form"
    (ngSubmit)="onAddAlbumItem()"
  >
    <div class="form-control">
      <label for="Name" class="form-label">Album Item name</label>
      <input
        type="text"
        name="Name"
        class="input"
        placeholder="Album Item Name"
        formControlName="Name"
      >
      <p class="required" *ngIf="get('Name').invalid && get('Name').touched">
        <ng-container *ngFor="let errorMessage of errors('Name')">
          <span *ngIf="errorMessage !== true">{{ errorMessage }}</span>
        </ng-container>
      </p>
    </div>

    <!-- disabled input -->
    <div class="form-control visible">
      <label for="AlbumId" class="form-label">Album id</label>
      <input
        type="text"
        name="AlbumId"
        class="input"
        placeholder="Album photo name"
        formControlName="AlbumId"
      >
      <p class="required" *ngIf="get('AlbumId').invalid && get('AlbumId').touched">
        <ng-container *ngFor="let errorMessage of errors('AlbumId')">
          <span *ngIf="errorMessage !== true">{{ errorMessage }}</span>
        </ng-container>
      </p>
    </div>

    <button
      type="submit"
      class="button update"
    >Add Item</button>
    <p class="required">
      <span *ngIf="albumPanelError">{{ albumPanelError }}</span>
    </p>
  </form>

  <div *ngIf="formMode; else plus">
    <div class="form">
      <button
        (click)="formMode = false"
        class="button delete"
      >Work end</button>
    </div>
  </div>
</div>
